* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

a, li {
  list-style: none;
  text-decoration: none;
  color: #3c4043;
}

.cont {
  display: block;
  margin: 0 auto;
  width: 1220px;
  background: #ffffff;
}

header {
  display: flex;
  height: 73px;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  color:#000000DE;
}

nav ul {
  display: flex;
  text-align: center;
  margin-right: 10px;
}

nav ul li {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-left:10px;
}

nav ul li:nth-child(1) {
  margin-right: 6px;
 }

nav ul li:nth-child(2) {
 margin-right: 8px;
}

nav ul li:nth-child(3) {
  margin-right: 1px;
}

#profile {
  width: 33px;
}

.banner {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 3%;
}

.banner img:nth-child(1) {
  width: 22.6%;
  margin-left: 35.2%;
}

.banner img:nth-child(2) {
  width: 2%;
  margin-right: 26.7%;
  margin-top: 7.1%;
}

main {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar {
  display: flex;
  border-radius: 30px;
  background-image: url('./image/search-24px\ \(1\).svg');
  background-repeat: no-repeat;
  background-position: 3% 50%;
  background-size: 20px;
  border: 1px solid rgba(219, 209, 209, 0.562);
  margin-left: 30.4%;
  margin-top: 0.2%;
  width: 40%;
  padding: 1%;
}

.search-bar:hover {
  box-shadow: #dadce0 4px 5px 5px;
  border: 0.5px solid #dadce0;
}

#search {
  font-size: 17px;
  border: none;
  outline: none;
  width: 80%;
  margin-left: 10%;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  text-align: center;
  font-size: 17px;
}

.buttons {
  color:#3c4043;
  font-size: 13px;
  padding: 1% 2% 1% 2%;
  margin-left: 1%;
  background: #f8f9fa;
  margin-bottom: 3%;
  border-radius: 5px;
  border: transparent;
  box-shadow: 10px;
}

.buttons:first-child {
  margin-left: 1.5%;
}

.buttons:hover {
  border: 0.1px solid #dadce0;
  cursor: pointer;
}

footer {
  display:flex;
  margin-top: 5.5%;
  background: #f2f2f2;
  flex-direction: column;
  color:#0000008A;
}

.footer-group {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dadce0;
  padding: 0.5% 0.5%;
  margin-bottom: 0.5%;
}

.footer-group-span {
  border-top: 1px solid #dadce0;
  padding: 1% 1%;
}

.footer-group-span span {
  margin-left: 1.2%;
  font-size: 15px;
}

.footer-first-group {
  width: 50%;
  font-size: 14px;
  margin-left: 1.7%;
  padding-bottom: 0.2%;
  
}

.footer-first-group a {
  margin-left: 3%;
  top: auto;
  margin-right: 10%;
}

.footer-first-group span:first-child {
  margin-left: 0;
  margin-right: 3%;
}

.footer-first-group span:nth-child(2) {
  margin-left: 0;
  margin-right: 3%;
}

.footer-first-group span:nth-child(3) {
  margin-left: 0;
  margin-right: 3%;
}

.footer-second-group {
  width: 23%;
  font-size: 14px;
  text-align: end;
}

.footer-second-group span{
  margin-right: 5%;
}

.footer-second-group span:last-child{
  margin-right: 0;
}
